[Unit]
Description=Proxy 127.0.0.1:8188 -> ComfyUI on 127.0.0.1:8189
Requires=comfyui.service
After=comfyui.service

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:8189
PrivateTmp=yes
